/* Phone */
body {
  background: #8c1f66;
}

/* Tablet */
@media only screen and (min-width: 600px) {
  body {
    background: #33a6a6;
  }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
  body {
    background: #f25041;
  }
}
